---
title: Cloud Playout
description: Brightcove Cloud Playout est un module Studio qui vous permet de programmer une diffusion programmée d'éléments de votre catalogue VOD, combinée à des flux en direct, et de la diffuser en tant que canal linéaire, le tout avec la fiabilité et l'évolutivité de Brightcove Live.
parent: Home
---
 <h1>{{ page.title }}</h1>
<article class="landing-page-wrapper">
  <summary>{{ page.description }}</summary>
  <section class="bcls-topic-list">
    <h2 id="Topics_in_this_section">Les sujets</h2>
    <ul>
      {% for item in site.data.navigation %} {% if item.name == page.title %} {% for doc in item.docs %}
      <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
      {% endfor %} {% endif %} {% endfor %}
    </ul>
  </section>
</article>